<style>
   tr .file-action{ display: none; }
   tr:hover .file-action{ display: block; }
 </style>

<div ng-controller="FileController as vm">
  <iframe id="my_iframe" style="display:none;"></iframe>
  <div class="col-md-8">
    <table st-table="vm.displayedCollection" st-safe-src="fileCollection" class="table table-striped">
      <thead>
        <tr>
          <th colspan="5" style="padding: 0">
            <input style="margin-bottom: 10px;" st-search="" class="form-control" placeholder="search ..." type="text"/>
            <span>You have {{fileCollection.length}} files</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="file in vm.displayedCollection">
          <td style="padding-bottom: 0;padding-right: 0;padding-top: 0;">
            <a ng-click="vm.download(file.id, file.shared_by_login)" href="">{{file.name}}</a>
            <br>
            <span style="font-size: 10px">{{file.size | bytes}}, {{file.date_load}}</span>
            <span style="font-size: 10px" ng-show="file.shared_by_id">
                <!--shared by: <a href="#/home/{{file.shared_by_id}}">{{file.shared_by_name}}</a>-->
              shared by: <a href="">{{file.shared_by_name}}</a>
            </span>
          </td>
          <td style="text-align: -webkit-right; padding-top: 12px;">
            <span class="file-action" ng-hide="file.shared_by_id">
              <a href="" ng-click="vm.openShare(file)"><i class="glyphicon glyphicon-share"></i></a>
              <a href="" ng-click="vm.removeItem(file)"><i class="glyphicon glyphicon-remove"></i></a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <div>
      <uib-progressbar type="{{progress_type}}" value="fileQuota.percent_quota">
        <span ng-hide="fileQuota.percent_quota < 5">{{fileQuota.percent_quota}}%</span>
      </uib-progressbar>
    </div>
    <ul class="nav">
      <li>
        <a class="doc" href="" ng-click="vm.openUpload()"><i class="glyphicon glyphicon-file"></i> Add document</a>
      </li>
      <li class="nav-divider"></li>
      <li>
        <a class="doc" href="" ng-click="vm.setFilter(null, null)">Show all documents</a>
      </li>

      <!-- <li ng-repeat="ext in fileExtendList">
        <a class="doc" href="" ng-class="{ 'selected-flt': $index == vm.selectedIndex }"
           ng-click="vm.setFilter($index, ext)">.{{ ext }}</a>
      </li> -->

    </ul>

    <!--upload file modal form-->
    <div ng-include="'/static/app-content/documents.upload.modal.html'"></div>
    <!--share file modal form-->
    <div ng-include="'/static/app-content/documents.share.modal.html'"></div>
  </div>
</div>



