<style>
  .input-group-addon {text-align: -webkit-right}

  .error {
    color:red;
    font-size: 12px;
  }

  .tooltip.errorClass .tooltip-inner{
    color: #880000;
    background-color: #ffff66;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }

</style>
<div class="col-md-6 col-md-offset-3 well">
    <!--<h1>Registration</h1>-->
  <form name="registerForm" ng-submit="vm.register()" role="form" novalidate>
    <div class="input-group input-group-sm">
      <span class="input-group-addon" id="basic-addon1" style="padding-right: 37px">Login:</span>
      <input type="text" name="login" class="form-control" aria-describedby="basic-addon1"
           ng-model="vm.user.login" required autofocus
           uib-tooltip="Username is required." tooltip-class="errorClass"
           tooltip-enable="registerForm.login.$invalid"
           ng-style="registerForm.login.$invalid && {'border-color': 'red'}">
    </div>
    <div class="input-group input-group-sm">
      <span class="input-group-addon" id="basic-addon2">First name:</span>
      <input type="text" name="first_name" class="form-control" aria-describedby="basic-addon2"
             ng-model="vm.user.first_name" required
             uib-tooltip="First name is required." tooltip-class="errorClass"
             tooltip-enable="registerForm.first_name.$invalid"
             ng-style="registerForm.first_name.$invalid && {'border-color': 'red'}">
    </div>

    <!--<div class="input-group input-group-sm">-->
      <!--<span class="input-group-addon" id="basic-addon3" style="padding-right: 37px;">Email:</span>-->
      <!--<input type="email" name="email" class="form-control" aria-describedby="basic-addon3" ng-model="vm.user.email" required>-->
      <!--<spanclass="error" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">-->
        <!--<span ng-show="registerForm.email.$error.required">Email is required.</span>-->
        <!--<span ng-show="registerForm.email.$error.email">Invalid email address.</span>-->
      <!--</span>-->
    <!--</div>-->

    <div class="input-group input-group-sm">
      <span class="input-group-addon" id="password" style="padding-right: 14px;">Password:</span>
      <input type="password" name="password" class="form-control" aria-describedby="password"
             ng-model="vm.user.password" required
             uib-tooltip="Password is required." tooltip-class="errorClass"
             tooltip-enable="registerForm.password.$invalid"
             ng-style="registerForm.password.$invalid && {'border-color': 'red'}">
    </div>

    <div class="input-group input-group-sm">
      <span class="input-group-addon" id="conf-new-pass" style="padding-right: 25px;">Confirm:</span>
      <input ng-confirm-field type="password" name="confNewPass" class="form-control" confirm-against="vm.user.password"
             aria-describedby="conf-new-pass" ng-model="vm.user.confpassword" required
             uib-tooltip="Confirm and new password is not match." tooltip-class="errorClass"
             tooltip-enable="registerForm.confNewPass.$error.noMatch"
             ng-style="registerForm.confNewPass.$error.noMatch && {'border-color': 'red'}">
    </div>

    <div class="btn-group btn-group-sm pull-right">
      <img ng-if="vm.dataLoading" src="/static/img/loading.gif"/>
      <button type="submit" ng-disabled="registerForm.$invalid || vm.dataLoading" class="btn btn-success">Register</button>
      <a href="#/login" class="btn btn-warning">Cancel</a>
    </div>
  </form>
</div>
