﻿/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 60px;
}
/**/
footer {
  padding: 30px 0;
}

div .container {
    width: 950px;
    padding-right: 0;
    padding-left: 0;
}

div .thumbnail {
    width: 100px;
    height: 100px;
    padding: 0;
  }

div label {
  font-weight: 100;
}

ul.nav.nav-tabs {
  margin-bottom: 5px;
}

div .navbar .well {
  margin-bottom: 0;
  padding-bottom: 12px;
}

div .input-group {
    margin-bottom: 5px;
}

.cropArea {
  /*background: #E4E4E4;*/
  overflow: hidden;
  width:200px;
  height:200px;
}

.center-modal {
    top: 30%;
}

/*span .input-error {*/
    /*color:red;*/
    /*font-size: 12px*/
/*}*/

/*.white, .white a {*/
  /*color: #fff;*/
/*}*/
/*.navbar-fixed-top {*/
  /*color: #fff;*/
  /*background-color: #204d74;*/
/*}*/
