<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Portal</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/ng-img-crop.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-duallistbox.css" />
    <link rel="stylesheet" href="/static/css/angular-bootstrap-calendar.min.css" />
    <!--<link rel="stylesheet" href="/static/css/angular-bootstrap-calendar.css" />-->
    <link href="/static/css/app.css" rel="stylesheet" />
  <!--<script src="/static/js/wsecho.js"></script> -->
</head>
<body>

    <div class="container" style="height: 800px">
        <div class="col-sm-10 col-sm-offset-1">
            <div ng-view></div>
        </div>
    </div>

    <script src="/static/js/calendar/moment.min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/jquery-2.0.3.min.js"></script>
    <script src="/static/angular-1.4.7/angular.js"></script>
    <script src="/static/angular-1.4.7/angular-route.js"></script>
    <script src="/static/angular-1.4.7/angular-cookies.js"></script>
    <script src="/static/angular-1.4.7/angular-animate.js"></script>
    <script src="/static/js/ui-bootstrap-0.14.3.js"></script>
    <script src="/static/js/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="/static/js/angular-confirm-field.js"></script>
    <script src="/static/js/bootstrap-notify.js"></script>
    <script src="/static/js/ng-img-crop.js"></script>
    <script src="/static/js/smart-table.min.js"></script>
    <script src="/static/js/angular-file-upload.min.js"></script>
    <script src="/static/js/angular-confirm.js"></script>
    <script src="/static/js/datetime-picker.min.js"></script>
    <script src="/static/js/calendar/angular-bootstrap-calendar-tpls.min.js"></script>
    <!--<script src="/static/js/calendar/angular-bootstrap-calendar-tpls.js"></script>-->
    <script src="/static/js/angular-bootstrap-duallistbox.js"></script>
    <script src="/static/js/jquery.bootstrap-duallistbox.js"></script>

    <script src="/static/app.js"></script>
    <script src="/static/app-services/authentication.service.js"></script>
    <script src="/static/app-services/flash.service.js"></script>
    <script src="/static/app-services/user.service.js"></script>
    <script src="/static/app-controller/home.controller.js"></script>
    <script src="/static/app-controller/login.controller.js"></script>
    <script src="/static/app-controller/register.controller.js"></script>
    <script src="/static/app-controller/settings.controller.js"></script>
    <script src="/static/app-controller/settings.picture.controller.js"></script>
    <script src="/static/app-controller/documents.controller.js"></script>
    <script src="/static/app-controller/calendar.controller.js"></script>
    <script src="/static/app-controller/friends.controller.js"></script>
</body>
</html>