#!/usr/bin/env python
# -*- encoding: UTF-8 -*-


SQLALCHEMY_DATABASE_URI = 'mysql://user:pass@localhost/db'

MAX_CONTENT_LENGTH = 10 * 1024 * 1024  # 10 Mb
UPLOAD_FOLDER = './data/upload'
UPLOAD_AVATAR = './static/avatar'
ALLOWED_EXTENSIONS = ('txt', 'pdf', 'png', 'jpg', 'jpeg', 'gif', 'mp3', 'avi')


TW_KEY = ''
TW_SECRET = ''
FB_KEY = ''
FB_SECRET = ''

ACCESS_PATH = '/tmp/tornado-access.log'
APP_PATH = '/tmp/tornado-application.log'
GEN_PATH = '/tmp/tornado-general.log'
LOG_LVL = 'DEBUG'
