<style>
  .tooltip.errorClass .tooltip-inner{
    color: #880000;
    background-color: #ffff66;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
</style>

<div class="col-md-12" ng-controller="CalendarController as vm">
  <h3 class="text-center" style="margin-top: 0">{{ vm.calendarTitle }}</h3>
  <div class="row">
    <div class="col-md-6 text-center">

      <button class="btn btn-sm btn-primary" ng-click="vm.createEvent()">
        <i class="glyphicon glyphicon-plus" style="margin-right: 5px"></i>Create
      </button>

      <div class="btn-group btn-group-sm" style="margin-left: 20px">
        <button class="btn btn-primary" mwl-date-modifier date="vm.calendarDay" decrement="vm.calendarView">Previous</button>
        <button class="btn btn-default" mwl-date-modifier date="vm.calendarDay" set-to-today>Today</button>
        <button class="btn btn-primary" mwl-date-modifier date="vm.calendarDay" increment="vm.calendarView">Next</button>
      </div>
    </div>
    <!--<br class="visible-xs visible-sm">-->
    <div class="col-md-6 text-center" style="padding-left: 50px">
      <div class="btn-group btn-group-sm">
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'">Year</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Month</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'">Week</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'">Day</label>
      </div>
    </div>
  </div>
  <br>
  <mwl-calendar
    events="vm.events"
    view="vm.calendarView"
    view-title="vm.calendarTitle"
    current-day="vm.calendarDay"
    on-event-click="vm.eventClicked(calendarEvent)"
    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
    on-delete-event-click="vm.eventDeleted(calendarEvent)"
    cell-is-open="vm.isCellOpen"
    day-view-start="06:00"
    day-view-end="22:00"
    day-view-split="30"
    cell-modifier="vm.modifyCell(calendarCell)">
  </mwl-calendar>
  <!--edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"-->
  <!--on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"-->


  <!--event modal form-->
  <div ng-include="'/static/app-content/calendar.event.modal.html'"></div>
</div>