<script type="text/ng-template" id="ModalShareContent.html">
  <div class="modal-header"><h3 class="modal-title">Shared {{shareFile.name}}</h3></div>
    <div class="modal-body">
      <form name="shareForm">
        <select
          ng-model="shareList"
          ng-options="friend as friend.text for friend in friendList track by friend.id"
          multiple
          bs-duallistbox
          name="friendShare"

          move-on-select="{{ settings.moveOnSelect }}"
          preserve-selection="{{ settings.preserveSelection }}"

          move-selected-label="{{ settings.moveSelectedLabel }}"
          move-all-label="{{ settings.moveAllLabel }}"
          remove-selected-label="{{ settings.removeSelectedLabel }}"
          remove-all-label="{{ settings.removeAllLabel }}"

          postfix="{{ settings.postfix }}"
          select-min-height="{{ settings.selectMinHeight }}"

          filter="{{ settings.filter }}"
          filter-values="{{ settings.filterValues }}"
          filter-placeholder="{{ settings.filterPlaceholder }}"
          filter-clear="{{ settings.filterClear }}"
          info-all="{{ settings.infoAll }}"
          info-filtered="{{ settings.infoFiltered }}"
          info-empty="{{ settings.infoEmpty }}"
        ></select>

      </form>
    </div>
    <div class="modal-footer">
      <div class="btn-group btn-group-sm pull-right">
        <button class="btn btn-success" ng-disabled="!shareForm.$dirty" ng-click="okShare(shareList, shareForm)">Ok</button>
        <button class="btn btn-warning" ng-click="cancelShare()">Close</button>
      </div>
    </div>
</script>
