<style>
  img {
    width: 100px;
  }

  .nav>li>a.friend-act {
    font-size: small;
    padding: 5px;
  }

  .dropdown-menu>li>a:focus {
     background-color: inherit;
  }
  .dropdown-menu>li>a:hover {
     background-color: #ddd;
  }
  span.friend-cnt {
    font-size: small;
    color: #337ab7
  }
</style>

<div ng-controller="FriendsController as vm">
  <uib-tabset class="tabs-left">
    <!--<uib-tab heading="All Friends" ng-click="vm.setOnline(false)">-->
      <!--<div ng-include="'/static/app-content/friends.list.html'"></div>-->
    <!--</uib-tab>-->

    <!--<uib-tab heading="Online" ng-click="vm.setOnline(true)">-->
      <!--<div ng-include="'/static/app-content/friends.list.html'"></div>-->
    <!--</uib-tab>-->

    <!--<uib-tab heading="Requests">-->
      <!--Requests-->
    <!--</uib-tab>-->

    <!--<uib-tab ng-show="vm.showNewFriends" heading="New friends">-->
      <!--searching a new friends-->
    <!--</uib-tab>-->

     <uib-tab ng-repeat="tab in vm.friendTabs" heading="{{tab.name}}" ng-click="tab.action()">
        <div ng-include="tab.content"></div>
      </uib-tab>
    </uib-tabset>


</div>