<div class="col-md-9" style="padding-left: 0px;">
  <table st-table="vm.displayedCollection" st-safe-src="friendsCollection" class="table table-striped">
    <thead>
      <tr>
        <th colspan="5" style="padding: 0">
          <!--show for every tab special parameters-->
          <input style="margin-bottom: 5px;" st-search="" class="form-control" placeholder="search ..." type="text"/>
          <!--<span class="friend-cnt" ng-show="tab.sname=='all_frn'">{{friendsCollection.length}} friends</span>-->
          <!--<span class="friend-cnt" ng-show="tab.sname=='on_frn'">{{vm.friendsOnlineCollection.length}} friends online</span>-->
          <!--<span class="friend-cnt" ng-show="tab.sname=='req_frn'">Requests from friend</span>-->
          <!--<span class="friend-cnt" ng-show="tab.sname=='new_frn'">Friends</span>-->
        </th>
      </tr>
    </thead>
    <tbody style="background-color: #f9f9f9;">
      <tr ng-repeat="friend in vm.displayedCollection">
        <td>
           <img data-ng-src="{{ friend.avatarurl }}">
        </td>
        <td style="width: 190px">
          <a href="">{{friend.name}}</a>
          <p ng-show="friend.online" style="color: green; font-size: smaller; margin-bottom: 0;">online</p>
          <p>
            <span ng-repeat="sgroup in friend.groups">
              <a href="" style="text-decoration: none">
                <span ng-if="sgroup.assigned" class="label label-info">{{sgroup.name}}</span>
              </a>
            </span>
          </p>
        </td>
        <td>
          <ul class="nav">
            <!--<li ng-repeat="action in vm.actions">-->
              <!--<a ng-click="" style="padding: 5px; font-size: small" href="">{{action}}</a>-->
            <!--</li>-->

            <li>
              <a class="friend-act" href="">Write a message</a>
            </li>
            <li>
              <a class="friend-act" href="" ng-click="vm.addDelFriend('add', friend)"
                 ng-show="tab.sname=='new_frn' || tab.sname=='req_frn'">Friend</a>
            </li>
            <li>
              <a class="friend-act" href="" ng-click="vm.addDelFriend('del', friend)"
                 ng-show="tab.sname=='all_frn' || tab.sname=='on_frn'">Unfriend</a>
            </li>
            <li>
              <a class="friend-act" href="" ng-click="vm.addDelFriend('reject', friend)"
                 ng-show="tab.sname=='req_frn'">Reject</a>
            </li>

            <li uib-dropdown auto-close="outsideClick" click-off="open=false"
                ng-click="open=true;" ng-hide="tab.sname=='new_frn' || tab.sname=='req_frn'">
              <a id="split-button" style="padding: 5px; font-size: small"
                 uib-dropdown-toggle href="">Add to list...</a>
              <ul class="nav uib-dropdown-menu" role="menu" aria-labelledby="split-button"
                    style="background-color: #f9f9f9;">
                <li ng-if="open" ng-repeat="agroup in friend.groups">
                  <a data-ng-click='agroup.assigned=!agroup.assigned; vm.setGroup(agroup, friend.id)'
                     role="menuitem" style="padding: 5px; font-size: small" href="">

                    <i class="glyphicon glyphicon-ok" ng-style="!agroup.assigned && {'color': '#f9f9f9'}"></i>
                    {{agroup.name}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-3 well" ng-hide="tab.sname=='new_frn' || tab.sname=='req_frn'">
  <ul class="nav">
    <!--<li>-->
      <!--<a class="doc" href="" ng-click="vm.getNewFriends()">-->
        <!--<i class="glyphicon glyphicon-plus"></i>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-divider"></li>-->

    <!--filter-->
    <li>
      <a class="doc selected-flt" href="" ng-click="vm.setFilter('clear')">All friends</a>
      <a class="doc selected-flt" href="" ng-click="vm.setFilter('online')">Online</a>
    </li>
    <li ng-repeat="groupName in friendsGroup">
      <a class="doc selected-flt" href="" ng-click="vm.setFilter(groupName)">{{ groupName }}</a>
    </li>
  </ul>
</div>