<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar well" style="height: 52px; padding-bottom: 0; padding-top: 0;">
      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{active: main.active.tab == 'profile'}">
            <a href="" ng-click="main.active.tab = 'profile'" style="padding-bottom: 5px; padding-top: 5px; margin-top: 5px;">
             <img data-ng-src="{{ user.avatarurl }}" style="width: 25px;"> {{user.info.first_name}}
            </a>
          </li>
          <li><a href="#logout" style="padding-bottom: 10px;padding-top: 5px;margin-top: 6px;">
            <i class="glyphicon glyphicon-log-out"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="tabbable tabs-left">
    <ul class="nav col-xs-6 col-sm-3 well">
      <li ng-repeat="menu in menus">
        <a id="{{ menu.name }}" ng-click="setActiveMenu(menu.src, menu.name)" style="padding: 5px"
           href="">{{menu.name}}</a>
      </li>
      <li class="nav-divider"></li>
      <li>
        <a id="Settings" ng-click="setActiveMenu('/static/app-content/settings.view.html', 'Settings')"
           href="" style="padding: 5px">Settings</a>
      </li>
    </ul>
  <div class="tab-content col-xs-12 col-sm-9 well">
    <div ng-include="activeMenu"></div>
  </div>
</div>