﻿<style>
.input-group-addon {
    width: 68px;
    text-align: -webkit-right;
}
  /*.error {*/
    /*color:red;*/
    /*font-size: 12px;*/
  /*}*/

    .tooltip.errorClass .tooltip-inner{
    color: #880000;
    background-color: #ffff66;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }

</style>
<div ng-controller="ProfileController">
  <uib-tabset class="tabs-left">
    <uib-tab heading="Account">
      <form name="accountForm" novalidate class="col-md-9" style="margin-left: 150px;"
            ng-submit="updateInfo(user, accountForm)">

        <div class="input-group input-group-sm" style="width: 250px;">
          <span class="input-group-addon" id="basic-addon1">First:</span>
          <input type="text" name="first_name" class="form-control" aria-describedby="basic-addon1"
                 ng-model="user.info.first_name" required
                 uib-tooltip="Username is required." tooltip-class="errorClass"
                 tooltip-enable="accountForm.first_name.$dirty && accountForm.first_name.$invalid"
                 ng-style="accountForm.first_name.$dirty && accountForm.first_name.$invalid && {'border-color': 'red'}">
          <!--<span style="color:red; font-size: 12px;" ng-show="accountForm.first_name.$dirty && accountForm.first_name.$invalid">-->
            <!--<span ng-show="accountForm.first_name.$error.required">Username is required.</span>-->
          <!--</span>-->
        </div>

        <div class="input-group input-group-sm" style="width: 250px;">
          <span class="input-group-addon" id="basic-addon4">Middle:</span>
          <input type="text" name="middle_name" class="form-control" aria-describedby="basic-addon4"
                 ng-model="user.info.middle_name" placeholder="Optional">
        </div>

        <div class="input-group input-group-sm" style="width: 250px;">
          <span class="input-group-addon" id="basic-addon3">Second:</span>
          <input type="text" name="second_name" class="form-control" aria-describedby="basic-addon3"
                 ng-model="user.info.second_name" placeholder="Optional">
          <!--<span style="color:red; font-size: 12px;" ng-show="accountForm.second_name.$dirty && accountForm.second_name.$invalid">-->
            <!--<span ng-show="accountForm.second_name.$error.required">Username is required.</span>-->
          <!--</span>-->
        </div>

        <div class="input-group input-group-sm" style="width: 200px;">
          <span class="input-group-addon" id="basic-addon5">Birthday:</span>
            <input type="datetime" aria-describedby="basic-addon5" class="form-control" uib-datepicker-popup="dd-MM-yyyy"
                   ng-model="user.info.birthday" is-open="status.opened" min-date="minDate" max-date="maxDate"
                   datepicker-options="dateOptions" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

        <div class="input-group input-group-sm" style="width: 250px;">
          <span class="input-group-addon" id="basic-addon2">Email:</span>
          <input type="email" name="email" class="form-control" aria-describedby="basic-addon2"
                 ng-model="user.info.email" placeholder="Optional"
                 uib-tooltip="Invalid email address." tooltip-class="errorClass"
                 tooltip-enable="accountForm.email.$dirty && accountForm.email.$invalid"
                 ng-style="accountForm.email.$dirty && accountForm.email.$invalid && {'border-color': 'red'}">
        </div>
        <!--<span class="error" ng-show="accountForm.email.$dirty && accountForm.email.$invalid">-->
          <!--<span ng-show="accountForm.email.$error.email">Invalid email address.</span>-->
        <!--</span>-->

        <div class="form-actions">
          <img ng-if="Loading" style="margin-left: 190px;" src="/static/img/loading.gif"/>
          <button type="submit" class="btn btn-success btn-sm pull-right" style="margin-right: 207px;"
                ng-disabled="!accountForm.$dirty || accountForm.$invalid || Loading">Ok</button>
        </div>
       </form>
    </uib-tab>

    <uib-tab heading="Permission">
      <form name="permissionForm" novalidate ng-submit="updatePermission(permissionForm)" class="col-md-9"
            style="margin-left: 150px">
        <div class="btn-group btn-group-sm" uib-popover="Hide from another user" popover-trigger="mouseenter" >
            <label class="btn btn-info" ng-model="user.permission.v_file" uib-btn-checkbox>File</label>
            <label class="btn btn-info" ng-model="user.permission.v_calendar" uib-btn-checkbox>Calendar</label>
            <label class="btn btn-info" ng-model="user.permission.v_friend" uib-btn-checkbox>Friends</label>
        </div>

        <button type="submit" class="btn btn-success btn-sm pull-right" ng-disabled="!permissionForm.$dirty">Ok</button>
      </form>
    </uib-tab>

    <uib-tab heading="Profile picture">
      <div class="col-md-10" ng-controller="Picture">
        <form name="fileInput">
          <table class="table">
            <thead>
              <tr>
                <th>
                  <div class="cropArea">
                    <img-crop id="crop" image="Image" area-type="square" result-image="CroppedImage"></img-crop>
                  </div>
                </th>
                <th>
                  <img id="pict" ng-src="{{CroppedImage}}" />
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input ng-model="filename" valid-file type="file" id="fileInput" required/></td>
                <td><button class="btn btn-success btn-sm pull-right" ng-click="changePicture(fileInput)"
                    ng-disabled="fileInput.$invalid || FileLoading" >Ok</button></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </uib-tab>

    <uib-tab heading="Change password">
      <form name="passForm" novalidate class="col-md-6" style="margin-left: 150px"
            role="form" ng-submit="changePassword(user, passForm)">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="curr-pass">Current:</span>
          <input type="password" name="currentpass" id="currentpass" class="form-control" aria-describedby="curr-pass"
                 ng-model="user.security.password" style="width: 222px; margin-right: 5px;" required
                 uib-tooltip="Current password is required." tooltip-class="errorClass"
                 tooltip-enable="passForm.currentpass.$dirty && passForm.currentpass.$error.required"
                 ng-style="passForm.currentpass.$dirty && passForm.currentpass.$error.required && {'border-color': 'red'}">
        </div>
        <!--<span class="error" ng-show="passForm.currentpass.$dirty && passForm.currentpass.$invalid">-->
          <!--<span ng-show="passForm.currentpass.$error.required">Current password is required.</span>-->
        <!--</span>-->

        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="new-pass">New:</span>
          <input type="password" name="newPass" class="form-control" aria-describedby="new-pass"
                 ng-model="user.security.newpassword" style="width: 222px;margin-right: 5px;" required
                 uib-tooltip="New password is required." tooltip-class="errorClass"
                 tooltip-enable="passForm.newPass.$dirty && passForm.newPass.$error.required"
                 ng-style="passForm.newPass.$dirty && passForm.newPass.$error.required && {'border-color': 'red'}">
        </div>
        <!--<span class="error" ng-show="passForm.newPass.$dirty && passForm.newPass.$invalid">-->
          <!--<span ng-show="passForm.newPass.$error.required">New password is required.</span>-->
        <!--</span>-->

        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="conf-new-pass">Confirm:</span>
          <input ng-confirm-field type="password" name="confNewPass" class="form-control"
                 confirm-against="user.security.newpassword" style="width: 222px;margin-right: 5px;"
                 aria-describedby="conf-new-pass" ng-model="user.security.confpassword"
                 uib-tooltip="Confirm and new password is not match." tooltip-class="errorClass"
                 tooltip-enable="passForm.confNewPass.$error.noMatch"
                 ng-style="passForm.confNewPass.$error.noMatch && {'border-color': 'red'}">
        </div>
        <!--<span class="error" ng-show="passForm.confNewPass.$dirty && passForm.confNewPass.$invalid">-->
          <!--<span ng-show="passForm.confNewPass.$error.required && passForm.confNewPass.$dirty">Please confirm your password</span>-->
          <!--<span ng-show="passForm.confNewPass.$error.noMatch">Confirm and new password is not match.</span>-->
        <!--</span>-->

        <div class="btn-group btn-group-sm pull-right" style="margin-right: 5px;">
          <img ng-if="Loading" src="/static/img/loading.gif"/>
          <button type="submit" class="btn btn-success" ng-disabled="passForm.$invalid || Loading">Ok</button>
          <button type="reset" class="btn btn-warning" ng-click="reset(passForm)">Reset</button>
        </div>
       </form>
    </uib-tab>
  </uib-tabset>
</div>
